<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>711815567847-nttcq7j082d1avq8ugrv5uoidtf021ne.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.711815567847-nttcq7j082d1avq8ugrv5uoidtf021ne</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>711815567847-mir5kl7ur2e8dk8d76u618kd8nnkvfc8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAw2N3Xk8w5BL9K8uy6K8P8zLzoiyrkqFg</string>
	<key>GCM_SENDER_ID</key>
	<string>711815567847</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.GAD.develop</string>
	<key>PROJECT_ID</key>
	<string>giftadeed</string>
	<key>STORAGE_BUCKET</key>
	<string>giftadeed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:711815567847:ios:f5132a7f26fd6b7c</string>
	<key>DATABASE_URL</key>
	<string>https://giftadeed.firebaseio.com</string>
</dict>
</plist>